
/*general styles */

/*******************
HEADER
********************/

body{
    background-color: white;
}


* {box-sizing: border-box}

header{
    width:100%;
    margin:0;
    background-color: #003311;
    height:100px;
}

/* Add a black background color to the top navigation */
.nav {
    overflow: hidden;
    float:right;
    margin-right:100px;
    margin-top:20px;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    margin-left:10px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color:#707070;
    color: white;
  }

/************************
LOGIN FORM
***********************/

.section, .register{
    margin:100px auto;
}

.section div.container a{
    background-color:#333;
    padding:10px;
    border:none;
}
  
.section div.container a:hover{
    opacity:0.8;
}

/* Full-width inputs */
input[type=text], input[type=password]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
background-color: #003311;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

/* Add a hover effect for buttons */
input[type=submit]:hover {
opacity: 0.8;
}

/* Add padding to containers */
.container {
padding: 16px;
width:500px;
}


/************************
DISPLAY WINDOW
***********************/

.register div.rcontainer{
  padding: 16px;
  width:700px;
  margin:auto;
}

/* Full-width input fields */
input[type=text], 
input[type=password],
input[type=number]{
  width: 100%;
  padding: 10px;
  margin: 3px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, 
input[type=password]:focus,
input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=date]{
  width:70%;
  padding:5px;
  background: #f1f1f1;
  border:none;
  display:inline-block;
  margin-bottom: 10px;
}

label{
  margin-bottom:4px;
}

.lgender{
  width:20%;
  margin-bottom: 10px;
}

.gender{
  margin-left:60px;
}

.dob {
  margin-left:95px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


/************************
DASHBOARD
***********************/

header.dashboard{
  position:fixed;
  margin-bottom:20px;
}

div.dashboard{
  width:100%;
  height: 100%;
  margin:0;
  background-color:white;
  padding:2px;
  margin-top:5px;
  margin-bottom:40px;
  border-radius:20px;
}

div.sidebar{
  width: 20%;
  position: fixed; 
  z-index: 1;
  margin:0;
  border-radius: 10px;
  margin-left:0;
  position:fixed;
  height:90%;
  float:left;
  padding:80px 20px;
  background-color:#008000;
}

div.display-dashboard{
  width:79%;
  margin-left:1%;
  height:100%;
  float:right;
  background-color:white;
  border-radius: 20px;
  background-color:#b3ffb3;
}

div.sidebar span{
  display:block;
  margin:auto;
  width:100%;
  height:60px;
  margin-bottom:25px;
}

div.sidebar img{
  width:50px;
  height:50px;
  margin-left: 20px;
  margin-right:20px;
  padding:5px;
  padding-top:10px;
  float:left;
  background-color: #b3ffb3;
  border-radius: 50%;
}

div.sidebar a{
  display:block;
  width:60%;
  height:40px;
  padding:5px;
  padding-top:8px;
  cursor:pointer;
  text-align: center;
  background-color: #b3ffb3;
  text-decoration: none;
  color:black;
  font-size: 17px;
  font-weight:500;
  margin-top:10px;
  float:left;
  border-radius: 4px;
}

div.sidebar a:hover{
  background-color: #003311;
  color:white;
}

div.display-dashboard h1{
  padding:100px;
  width:100%;
  height:100px;
  margin:100px 120x;
}


/**********************
FOOTER
***********************/
footer{
  width: 500px;
  margin:auto;
  margin-top:100px;
  height:150px;
  text-align: center;
  border-width: 500px;
  padding-top:20px;
  border-top:1px solid #f1f1f1;
  }

img.footer-image{
  width:20px;
  height:20px;
  display:inline;
  margin-right:2px;
}

footer p{
  font-weight:600;
}

/************************
PROFILE
***********************/

div.pdiv1{
  width:60%;
  height:250px;
  margin-bottom:0;
  border-radius: 20px;
  padding:40px;
  background-color:#ccffcc;
  text-align: left;
  font-size: 15px;
}

.h3-profile{
  padding: 80px 100px;
  width:100%;
  height:10px;
  margin-top:-20px;
  margin-bottom:0;
}

.specialinputbox{
  height:35px;
  padding:2px;
  border-radius:5px;
  margin-top:0;
}

form.editprofile label{
  font-weight: 600;
}

/************************
additional display features
***********************/
div.cdiv1{
  width:90%;
  margin:auto;
  margin-top:50px;
  font-weight: 600;
  background-color:#99ff99;
  text-align: left;
  font-size: 15px;
  padding:20px;
  border-radius: 20px;
} 

.cdiv1 h3{
  margin-left:60px;
  margin-bottom:40px;
  
}

.cdiv1 table {
  width:90%;
  margin:auto;
  margin-bottom:40px;
}

.cdiv1 table td{
  text-align: left;
}

input[type=submit].editbutton, 
input[type=submit].modifybutton,
a.editbutton{
  width:100px;
  height:30px;
  text-align: center;
  padding:2px;
  text-align: center;
  margin-top:-15px;
}


a.editbutton{
  background-color:#008000;
  color:white;
}

input[type=submit].modifybutton{
  margin-top:0;
}

input[type=submit].editbutton:hover, 
input[type=submit].modifybutton:hover,
a.editbutton:hover{
  font-weight:600;
}

input[type=submit].addbutton{
  width:100px;
  height:30px;
  text-align: center;
  padding:2px;
  text-align: center;
  margin-left:60px;
  margin-bottom: 20px;
}

input[type=submit].addbutton:hover{
  font-weight:600;
}

tr.modify input{
  padding:8px;
}

input[type=text]:focus{
  background-color: white;
  color:#333;
}

.table thead{
  color:#004d00;
  border-bottom:1px solid #333;
}

div.special-bottom-margin{
  margin-bottom:50px;
}

/************************
Editing & Modificaiton box
***********************/
tr.modify input[type=number]{
  width:100%;
}
